/*背景色*/

.fff {
  background-color: #ffffff;
}

.f6 {
  background-color: #f6f6f6;
}

.f4 {
  background-color: #f4f4f4;
}

.blue {
  background-color: #00a0e9;
}

.green {
  background-color: #66c669;
}

.pink {
  background-color: #ec6897;
}

.red {
  background-color: #df3031;
}

.hui {
  background-color: #434343;
}

.orange {
  background-color: #f89d3c;
}

/*黑->灰*/

.gray-darker {
  background-color: #222;
}

.gray-dark {
  background-color: #333;
}

.gray {
  background-color: #555;
}

.gray-light {
  background-color: #777;
}

.gray-lighter {
  background-color: #eeeeee;
}

/*bootstrap的颜色样式*/

.primary {
  background-color: #337ab7;
}

.success {
  background-color: #5cb85c;
}

.info {
  background-color: #5bc0de;
}

.warning {
  background-color: #f0ad4e;
}

.danger {
  background-color: #d9534f;
}

/*app字体颜色*/

.fc-ff {
  color: #ffffff;
}

/*白色*/

.fc-33 {
  color: #333333;
}

/*黑色*/

.fc-66 {
  color: #666666;
}

/*灰色*/

.fc-77 {
  color: #777777;
}

/*中灰色*/

.fc-88 {
  color: #888888;
}

/*浅灰色*/

/*app辅助字体颜色*/

.fc-red {
  color: #fc7979;
}

.fc-gree {
  color: #78c44f;
}

.fc-blue {
  color: #4dcbde;
}

.fc-yellow {
  color: #f89d3c;
}
