/*背景色*/

.fff {
  background-color: #ffffff;
}

.f6 {
  background-color: #f6f6f6;
}

.f4 {
  background-color: #f4f4f4;
}

.blue {
  background-color: #00a0e9;
}

.green {
  background-color: #66c669;
}

.pink {
  background-color: #ec6897;
}

.red {
  background-color: #df3031;
}

.hui {
  background-color: #434343;
}

.orange {
  background-color: #f89d3c;
}

/*bootstrap的颜色样式*/

.primary {
  background-color: #337ab7;
}

.success {
  background-color: #5cb85c;
}

.info {
  background-color: #5bc0de;
}

.warning {
  background-color: #f0ad4e;
}

.danger {
  background-color: #d9534f;
}
