/*2017.0904
 *WEB前端开发 xiaoyueyue
 * * * * * * * * * /
/* * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
  font-size: 1em;
  color: #333;
}
/* 行内标签恢复原本样式 */
b,strong {
  font-weight: normal;
}
i,em {
font-style:normal;
}



/*字体大小*/

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs24 {
  font-size: 24px;
}

.fs32 {
  font-size: 32px;
}

.fs42 {
  font-size: 42px;
}

.fs-36 {
  font-size: 1.125em
}

.fs-28 {
  font-size: 0.875em
}

.fs-24 {
  font-size: 0.750em
}


/*浮动*/

.fl {
  float: left;
}

.fr {
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*清除浮动*/

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
  /* ie67专用 */
}


/*显示隐藏*/

.block {
  display: block !important
}

.inline {
  display: inline !important
}

.inline-block {
  display: inline-block !important;
}

.hide {
  display: none !important;
}


/*单行文字截断*/

.ellipsis {
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


/*多行文字截断*/

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 这里修改为要显示的行数*/
  -webkit-box-orient: vertical;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * */


/*盒子定位*/

.pr {
  position: relative
}

.pa {
  position: absolute
}

.pf {
  position: fixed
}


/*盒子宽*/

.w3 {
  width: 33.33%;
}

.w5 {
  width: 50%;
}

.w1 {
  width: 100%;
}

.w4 {
  width: 25%;
}


/*12 栅格*/

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}


/*包裹层*/

.box-wrapper {
  width: 96%;
  border: 1px solid #ccc;
  margin: 2%;
  padding: 0.2em;
  border-radius: 0.5em;
  box-sizing: border-box;
  height: 6em;
}

.border-box {
  box-sizing: border-box;
}

.radius2 {
  border-radius: 0.2em;
}

.radius1 {
  border-radius: 0.1em;
}

.radius3 {
  border-radius: 0.1em;
}
.select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}



