.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
/* 高控制 */
page {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}
.h100 {
  height: 100%;
}
.h-auto {
  height: auto !important;
}

.borderBox {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
  /* ie67专用 */
}

.jiantou {
  width: 0;
  height: 0;
  border-top: 14px solid rgba(74, 74, 74, 1);
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}
/* 无法选中 */
.cantSelect {
  user-select: none;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}
/* ------------------------------------------------------------------font------------------------------------ */
/* font-family: PingFangSC-Regular; */

/* ---------------------------------------------------------------块变化------------------------------- */
.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

/* ---------------------------------------------------显示隐藏------------------------------------------------------------- */
.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

/* -----------------------------------------------------------------text--------------------------------------------------------------- */
.nowrap {
  white-space: nowrap;
}

.break-all {
  word-break: break-all;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.vm {
  vertical-align: middle;
}

.vt {
  vertical-align: top;
}

.vb {
  vertical-align: bottom;
}

/*多行文字截断*/

.line {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line2 {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line3 {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* --------------------------------------images-------------------------- */

/* 将背景图像等比缩放到宽度或高度与容器的宽度或高度相等，背景图像始终包含在容器内 */
.img {
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 定义将背景图片等比例缩放到完全覆盖容器，背景图像有可能超过容器 */
.coverImg {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 定义背景图像横向平铺 */
.img2 {
  background-repeat: repeat-x;
  background-size: auto 100%;
}

/* 定义背景图像纵向平铺 */
.img3 {
  background-repeat: repeat-y;
  background-size: 100% auto;
}

/* 定义背景图像横向100%，纵向自适应; */
.img4 {
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* 定义背景图像横向自适应，纵向为100% */
.img5 {
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* 定义背景图像居中显示 */
.img6 {
  background-repeat: no-repeat;
  background-position: center;
}
