/*2017.0904
 *WEB前端开发 xiaoyueyue
 * * * * * * * * * /
/* * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
  font-size: 1em;
  color: #333;
}
/* 行内标签恢复原本样式 */
b,
strong {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}

/*字体大小*/

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs24 {
  font-size: 24px;
}

.fs32 {
  font-size: 32px;
}

.fs42 {
  font-size: 42px;
}

.fs-36 {
  font-size: 1.125em;
}

.fs-28 {
  font-size: 0.875em;
}

.fs-24 {
  font-size: 0.75em;
}

/*浮动*/

.fl {
  float: left;
}

.fr {
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*清除浮动*/

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
  /* ie67专用 */
}

/*显示隐藏*/

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.hide {
  display: none !important;
}

/*单行文字截断*/

.ellipsis {
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*多行文字截断*/

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 这里修改为要显示的行数*/
  -webkit-box-orient: vertical;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * */

/*盒子定位*/

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

/*盒子宽*/

.w3 {
  width: 33.33%;
}

.w5 {
  width: 50%;
}

.w1 {
  width: 100%;
}

.w4 {
  width: 25%;
}

/*12 栅格*/

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

/*包裹层*/

.box-wrapper {
  width: 96%;
  border: 1px solid #ccc;
  margin: 2%;
  padding: 0.2em;
  border-radius: 0.5em;
  box-sizing: border-box;
  height: 6em;
}

.border-box {
  box-sizing: border-box;
}

.radius2 {
  border-radius: 0.2em;
}

.radius1 {
  border-radius: 0.1em;
}

.radius3 {
  border-radius: 0.1em;
}
.select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat
    scroll right center transparent;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}

/* ★★★★★★★★★★★★★★★★★box★★★★★★★★★★★★★★★★★★★ */
.ub {
  display: -webkit-box !important;
  display: box !important;
  position: relative;
}

.ub-rev {
  -webkit-box-direction: reverse;
  box-direction: reverse;
}

.ub-fh {
  width: 100%;
}

.ub-fv {
  height: 100%;
}

.ub-con {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ub-ac {
  -webkit-box-align: center;
  box-align: center;
}
.ub-ae {
  -webkit-box-align: end;
  box-align: end;
}

.ub-pc {
  -webkit-box-pack: center;
  box-pack: center;
}
.ub-pe {
  -webkit-box-pack: end;
  box-pack: end;
}
.ub-pj {
  -webkit-box-pack: justify;
  box-pack: justify;
}

.ub-ver {
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.ub-f1 {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
}

.ub-f2 {
  position: relative;
  -webkit-box-flex: 2;
  box-flex: 2;
}

.ub-f3 {
  position: relative;
  -webkit-box-flex: 3;
  box-flex: 3;
}

.ub-f4 {
  position: relative;
  -webkit-box-flex: 4;
  box-flex: 4;
}

.ub-img {
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ub-img1 {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ub-img2 {
  background-repeat: repeat-x;
  background-size: auto 100%;
}
.ub-img3 {
  background-repeat: repeat-y;
  background-size: 100% auto;
}

.ub-img4 {
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.ub-img5 {
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.ub-img6 {
  background-repeat: no-repeat;
  background-position: center;
}
.ub-img7 {
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
/* ★★★★★★★★★★★★★★★★★颜色★★★★★★★★★★★★★★★★★★★ */
/*背景色*/

.fff {
  background-color: #ffffff;
}

.f6 {
  background-color: #f6f6f6;
}

.f4 {
  background-color: #f4f4f4;
}

.blue {
  background-color: #00a0e9;
}

.green {
  background-color: #66c669;
}

.pink {
  background-color: #ec6897;
}

.red {
  background-color: #df3031;
}

.hui {
  background-color: #434343;
}

.orange {
  background-color: #f89d3c;
}

/*黑->灰*/

.gray-darker {
  background-color: #222;
}

.gray-dark {
  background-color: #333;
}

.gray {
  background-color: #555;
}

.gray-light {
  background-color: #777;
}

.gray-lighter {
  background-color: #eeeeee;
}

/*bootstrap的颜色样式*/

.primary {
  background-color: #337ab7;
}

.success {
  background-color: #5cb85c;
}

.info {
  background-color: #5bc0de;
}

.warning {
  background-color: #f0ad4e;
}

.danger {
  background-color: #d9534f;
}

/*app字体颜色*/

.fc-ff {
  color: #ffffff;
}

/*白色*/

.fc-33 {
  color: #333333;
}

/*黑色*/

.fc-66 {
  color: #666666;
}

/*灰色*/

.fc-77 {
  color: #777777;
}

/*中灰色*/

.fc-88 {
  color: #888888;
}

/*浅灰色*/

/*app辅助字体颜色*/

.fc-red {
  color: #fc7979;
}

.fc-gree {
  color: #78c44f;
}

.fc-blue {
  color: #4dcbde;
}

.fc-yellow {
  color: #f89d3c;
}
