<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../css/ui-box.css">
        <link rel="stylesheet" href="../css/ui-base.css">
        <link rel="stylesheet" href="../css/ui-color.css">
        <link rel="stylesheet" href="../css/appcan.icon.css">
        <link rel="stylesheet" href="../css/appcan.control.css">
        <link rel="stylesheet" href="./css/intention.css">
    </head>
    <body class="um-vp white-bg" ontouchstart>

        <div id="" class="listbox">
            <div id="listdetail" class="detail white-bg bc-border"></div>
        </div>
        <div class="" id="pullstatus"></div>
        <!--footer-->
        <div id="footer" class="ub ubt bc-border uf tab-foot">
            <div id="" class="ub uw-a">
                <div id="" class="ub ub-pc ub-ac uw-1">
                    <div id="" class="umar-l">
                        <div class="m-check" name="" id="checkall"></div>
                    </div>
                    <div id="" class="umar-l">
                        <span class="mf-size2">全选</span>
                    </div>
                </div>

                <div id="sum_price" class="uw-2 ub ub-pe area-price">
                    <span class="umar-r"><span class="mf-size2 gray-font"></span><span class="mf-color"><span id="heji"></span></span></span>
                </div>

                <div id="confirmYXD" class="uw-3 ub ub-ac ub-pc sec-btn1">
                    审核通过
                </div>
            </div>
        </div>

        <script src="../js/appcan.js"></script>
        <script src="../js/appcan.control.js"></script>
        <script src="../common/common.js"></script>
        <script type="text/javascript" charset="utf-8" src="../common/template-web.js"></script>
        <script src="../common/jquery.min.js"></script>
    </body>

    <script id="Allorder_list" type="text/html">

        {{each list}}

        <div id="list{{$index}}" class='list-content white-bg' ><div id='orderlist" + i + "'>

        <div id='' class='ub ub-ac umar-a m-row3'>
        <div id="check{{$index}}" class="bw0 ub ub-ac " onclick="cellbtnClick({{$index}})"><div id="{{$index}}" class="m-check"></div></div>
        <div id='' class='ub ub-ac t-col1'>
        <!-- 油品名称 -->
        {{each $value.orderSub as item}}
        <span>
        {{item.oilinfoName}}
        </span>

        <input type="hidden" name="orderId" class="orderId" value="{{item.ordersubId}}" />
        {{/each}}

        </div><div id='' class='ub ub-ac ub-pc t-col2'><span class='umar-r mf-color umar-r'><span class='mf-size2'>￥</span>
        <!-- 油品价格 -->
        {{each $value.orderSub as item}}
        {{item.oilPrice}}
        {{/each}}

        <span class='gray-font mf-size2'>/吨</span></span><span class='umar-l'>
        <!-- 油品数量-->

        x
        {{each $value.orderSub as item}}
        {{item.oilNumber}}
        {{/each}}
        </span></div><div id='type' class='ub ub-ac  ub-pc t-col4'><span class='s-state delivery'>
        <!-- 配送方式 -->
        {{each $value.orderSub as item}}
        {{if item.extractType == '0'}}
        <span id="">
        配送
        </span>
        {{else if item.extracType == '1'}}
        <span id="">
        zi
        </span>
        {{/if}}
        {{/each}}

        </span></div></div>

        <div id='pay' class='ub ub-ac umar-l umar-r m-row3'><div id='' class='col-left'><span class='gray-font'>客户名称&nbsp;&nbsp;</span><span>
        {{$value.empName}}
        </span></div><div id='total' class='col-right'><span class='gray-font'>合计&nbsp;&nbsp;
        {{each $value.orderSub as item}}
        {{item.oilAmot}}
        {{/each}}
        </span><span class='mf-color AllPrice'>

        </span></div>

        </div>
        <div id='pay' class='ub ub-ac umar-l umar-r m-row3'><div id='' class='col-left'><span class='gray-font'>状态&nbsp;&nbsp;</span><span>

        {{if $value.state=='0'}}
        未审核                 {{else if $value.state == '1'}}
        分公司审核通过{{else if $value.state == '2'}}分公司审核未通过
        {{else if $value.state == '3'}}总公司审核通过
        {{else if $value.state == '4'}}总公司审核未通过
        {{/if}}

        </span></div>

        <div id='total' class='col-right'><span class='gray-font'>创建时间 </span><span class='AllPrice'>
        {{$value.createDate}}
        </span></div></div>

        <!-- 油库地点，所属公司 -->
        <div id='company' class='ub ub-ac umar-l umar-r m-row3'><div id='' class=''><span class='gray-font'>所属公司&nbsp;&nbsp;</span><span>
        {{$value.empOrgName}}
        </span></div></div>
        <div <div id="position{{$index}}">

        </div>
        <div class='gap' id='idx'+{{$index}}></div>

        </div></div>

        {{/each}}
    </script>
    <script>
        var listData = {},
            sumPrice = 0.00,
            listNum = 0,
            totalRows = 0;
        appcan.ready(function() {
            appcan.frame.setBounce(1, function(type) {
                $("#pullstatus").html("");
            }, function(type) {
                $("#pullstatus").html("");
            }, function(type) {
                $("#pullstatus").html("");
                appcan.frame.resetBounce(1);
                var num = Number(pageNo) * limit;
                $("#pullstatus" + type).html("");
                if (Number(totalRows) <= num) {
                    appcan.window.openToast({
                        msg : '无更多信息',
                        duration : 1000,
                        position : 5,
                        type : 0
                    });
                    return;
                }
                pageNo = Number(pageNo) + 1;
                getNoOkOrder();
            });
            getNoOkOrder();
        });
        //获取数据
        function getNoOkOrder() {
            var url = URL + "/app/backgrd/bill/getNoOkOrder";
            var paramJsonStr = "state=0&pageNo=" + pageNo + "&pageSize=" + pageSize + "&orgFilter=" + 0;
            var func = getNoOkOrderCallback;
            var dataType = "text";
            ajaxPostQuery(url, paramJsonStr, func, dataType);
            appcan.window.openToast('加载中...', '0', '5', '1');
        }

        //展示
        function getNoOkOrderCallback(data) {
            appcan.window.closeToast();
            var data = JSON.parse(data);
            var totalCount = data.list.length;
            listNum = totalCount;
            listData = data.list;

            if (data.length == 0) {
                var listhtml = "<div id='time' class='ub ub-pc' style='margin: 0.8em 0;'>" + "<span class='mf-size2 time'>您没有符合条件的付邮通知单!</span>" + "</div>";
                // $("#fuyou").html("");
                $("#listdetail").append(listhtml);
                return;
            }
            //
            var html = template('Allorder_list', {
                list : data.list
            })

            $('#listdetail').html(html)
            var orderList = data.list;
            var listHtml = "";
            var sumprice = 0.00;

            for (var i = 0; i < orderList.length; i++) {
                var intentionList = orderList[i].orderSub;
                var state = orderList[i].state;
                if (intentionList.length > 0) {
                    for (var j = 0; j < intentionList.length; j++) {
                        var oilinfoId = intentionList[j].oilinfoId;
                        var oilinfoName = intentionList[j].oilinfoName;
                        var extractType = intentionList[j].extractType;
                        var oilAmot = intentionList[j].oilAmot;
                        var oilNumber = intentionList[j].oilNumber ? intentionList[j].oilNumber : 000;
                        var oilPrice = intentionList[j].oilPrice;
                        sumprice += oilAmot;
                        //分公司审核 state=0
                        //总公司审核 state=1
                        var orgType = appcan.locStorage.getVal("orgType");

                        //分公司审核
                        if (state == '0' && orgType == '1') {
                            var appendHtml = "<div id='" + orderList[i]["orderId"] + "' class='ub ub-ac ub-pe m-row4'><span class='y-font umar-l' onclick='confirmIntention(id," + orderList[i].orderSub[j]["oilNumber"] + "," + orderList[i].orderSub[j]["oilPrice"] + ",\"" + orderList[i].orderSub[j].ordersubId + "\"," + orderList[i].payType + ")'>审核通过</span></div>";

                            $("#position" + i)[0].innerHTML = appendHtml;
                        }
                        //总公司审核
                        else if (state == '1' && orgType == '0') {
                            var appendHtml = "<div id='" + orderList[i]["orderId"] + "' class='ub ub-ac ub-pe m-row4'><span class='y-font umar-l' onclick='confirmIntention(id," + orderList[i].orderSub[j]["oilNumber"] + "," + orderList[i].orderSub[j]["oilPrice"] + ",\"" + orderList[i].orderSub[j].ordersubId + "\"," + orderList[i].payType + ")'>审核通过</span></div>";

                            $("#position" + i)[0].innerHTML = appendHtml;
                        }
                    }
                }

            }

        }

        //确认审核(单，多)
        function confirmIntention(id, oilNumber, oilPrice, orderSubId, payType) {

            var url = URL + "/app/oil/order/updateBatchOrder";
            var state = appcan.LocStoragetVal('orgType') = 1 ? 1 : 2;
            alert(state)
            //分 1 总2
            var paramJsonStr = "orderIds=" + orderSubId + "&state" + "=" + state;
            var func = okOrderCallback;
            var dataType = "text";
            ajaxPostQuery(url, paramJsonStr, func, dataType);
            appcan.window.openToast('加载中...', '0', '5', '1');
        }

        function okOrderCallback(data) {
            $("#listdetail").html("");

            appcan.window.closeToast();
            data = eval("(" + data + ")");
            if (data == '1') {
                uexWindow.alert("提示", "审核表单成功！", "确定");
                //重新加载页面
                getNoOkOrder();
            } else {
                uexWindow.alert("提示", "审核表单失败！", "确定");
            }

        }

        //提交审核(多个审核通过)
        appcan.button("#confirmYXD", "ani-act", function() {

            var oillist = [];

            for (var i = 0; i < listNum; i++) {

                if ($("#"+i)[0].className == "m-check m-check-active") {
                    var intentionId = $("#list" + i).find($('.orderId'))[0].value;

                    //var intentionIds=$("#intentionIds" + i)[0].innerText;
                    var intentionIds = intentionId;
                    //alert(intentionIds);

                    oillist.push(intentionIds);
                }
            }

            if (oillist.length == 0) {
                appcan.window.openToast('请选择要提交的意向单', '1000', '5', '0');
                return;
            }

            var oils = oillist.join(',');

            if (oillist.length == 0) {
                uexWindow.alert("提示", "您没有需要提交的意向单！", "确定");
                return;
            }

            var url = URL + "/app/oil/order/updateBatchOrder";
            var paramJsonStr = "orderIds=" + oils + "&state" + "=1";
            var func = okOrderCallback;
            var dataType = "text";
            ajaxPostQuery(url, paramJsonStr, func, dataType);
            appcan.window.openToast('加载中...', '0', '5', '1');

        })
        //提交审核回调
        function insertOrderCallBack(data) {
            appcan.window.publish("tiaoguo", true)

            appcan.window.closeToast();
            if (data == "ok") {
                appcan.window.openToast({
                    msg : '您的意向单已提交，客户经理会尽快为您处理!<br>您可以到“我的意向单-处理中”中查看您的意向单。',
                    duration : 1000,
                    position : 5,
                    type : 0
                });

                reload();
            } else {
                uexWindow.alert("提示", "意向单提交失败，请重试！", "确定");
            }
        }

        var yesNo = 0;

        //全选
        appcan.button("#checkall", "ani-act", function() {
            if ($("#checkall")[0].className == "m-check") {

                $("#checkall")[0].className = "m-check m-check-active";

                for (var i = 0; i < listData.length; i++) {
                    if ($("#" + i)[0]) {
                        $("#" + i)[0].className = "m-check m-check-active";
                    }
                }

            } else {
                $("#checkall")[0].className = "m-check";
                for (var i = 0; i < listData.length; i++) {
                    if ($("#" + i)[0]) {
                        $("#" + i)[0].className = "m-check";
                    }
                }
            }

            yesNo = 0;
        })
        //列表中单选
        function cellbtnClick(id) {

            // var index = id.substring(id.length - 1, id.length);

            if ($("#"+id)[0].className == "m-check") {
                $("#"+id)[0].className = "m-check m-check-active";
                yesNo++;

                //alert(yesNo);
            } else {
                $("#"+id)[0].className = "m-check";
                yesNo--;

                //alert(yesNo);
            }

            if (yesNo == listData.length) {
                $("#checkall")[0].className = "m-check m-check-active";
            } else {
                $("#checkall")[0].className = "m-check";
            }
        }

    </script>
</html>
