tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }
.vm { vertical-align: middle; }
.vt { vertical-align: top; }
.vb { vertical-align: bottom; }
.vtt { vertical-align: text-top; }
.vbt { vertical-align: text-bottom; }
.re { position: relative; }
.ab{ position: absolute;}
.ov { overflow: hidden; zoom: 1; }
.zo {	zoom: 1; }
.wsn { white-space: nowrap;  }
.wwb { word-wrap: break-word; word-break: normal; }
.cf { zoom: 1; /* no width and ie */ }
.cf:after {
	content: '.'; /* ff opear chrome */
	visibility: hidden; /* clear content  */
	clear: both; /* ff opear chrome */
	display: block; /* ff opear chrome */
	height: 0; /* ff opear chrome */
}
.eq { margin-bottom: -30000px; padding-bottom: 30000px; }

/*--- extension ---*/
.mt1 { margin-top: 1px; }

.dib { display: inline-block; *display: inline; zoom: 1; }
.dit { display: table-cell; width: 8000px; *width: auto; zoom: 1; }  

.fl_1 li, .fl_1 dl { display: inline; float: left; }
.fl_2 li, .fl_2 dl { float: left; }

.fl_dib { letter-spacing: -4px; font-size: 0; *font-size: 12px; }
.fl_dib li, .fl_dib dl{ display: inline-block; *display: inline; zoom: 1; letter-spacing: 0; font-size: 12px; vertical-align: top;  }
.fl_dib_1 li, .fl_dib_1 dl{ display: inline;  }

/*--- basic Variable ---*/
.lh18 { line-height: 18px; }
.lh20{ line-height: 20px; }
.lh22 { line-height: 22px; }
.lh24 { line-height: 24px; }
.lh26 { line-height: 26px; }
.lh28 { line-height: 28px; }
.lh30 { line-height: 30px; }
.ffa { font-family: Arial; }
.ffs { font-family: "宋体"; }
.ffh { font-family: "微软雅黑","黑体"; }
.fft { font-family: Tahoma; }

.ls3 { letter-spacing: -3px; }
.ls4 { letter-spacing: -4px; }
.ls5 { letter-spacing: -5px; }
.ls6 { letter-spacing: -6px; }
.ls0 { letter-spacing: 0; font-size: 12px; }
.fz0 { font-size: 0; }
.fz14 { font-size: 14px; }
.fz20 { font-size: 20px; }
.fz12 { font-size: 12px; }
.fz16 { font-size: 16px; }
.fz18 { font-size: 18px; }

.mt5 { margin-top: 5px; }
.mt10{ margin-top: 10px;}
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }

.ml5 { margin-left: 5px; }
.ml8 { margin-left: 8px; }
.ml10 { margin-left: 10px; }
.ml10_ie { margin-left: 10px; _margin-left: 7px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }

.mr3_ie { _margin-right: -3px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr10_ie { margin-right: 10px; _margin-right: 7px;}
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }

.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }

.pad1{padding:1px;}

.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }

.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }

.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }

.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt40 { padding-top: 40px; }

.pa5 { padding: 5px; }
.pa10 { padding: 10px; }
.pa15 { padding: 15px; }
.pa20 { padding: 20px; }
.pa25 { padding: 25px; }
.pa30 { padding: 30px; }

.mar1 { margin-right: 1px; margin-left: 1px; }
.mar5 { margin-right: 5px; margin-left: 5px; }
.mar10 { margin-right: 10px; margin-left: 10px; }
.mar15 { margin-right: 15px; margin-left: 15px; }
.mar20 { margin-right: 20px; margin-left: 20px; }
.mar25 { margin-right: 25px; margin-left: 25px; }
.mar30 { margin-right: 30px; margin-left: 30px; }
.mar_auto { margin-right: auto; margin-left: auto; }
