<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="content"></div>
  <select id="box"></select>

</body>
<script src="./template-web.js"></script>
<script id="tpl" type="text/html">

  <select name="" class="form-control input-sm">
    {{each teacher}} 
    {{if $value.tc_name == tc_name}}
    <option id="yue{{$index}}" selected value="{{$value.tc_id}}">{{$value.tc_name+$index}}</option>
    {{else}}
    <option value="{{$value.tc_id}}">{{$value.tc_name+$index}}</option>
    {{/if}}
    {{/each}}

  </select>

  <select id="top" name="" class="form-control input-sm">

      {{each category.top as item}}
      {{if cs_cg_id == item.cg_id}}
      <option selected value="{{item.cg_id}}">{{item.cg_name}}</option>
      {{else}}
      <option value="{{item.cg_id}}">{{item.cg_name}}</option>
      {{/if}}
      {{/each}}

     </select>

     <select name="" class="form-control input-sm">

          {{each category.childs as item}}
          {{if cs_cg_pid == item.cg_id}}
          <option selected value="{{item.cg_id}}">{{item.cg_name}}</option>
          {{else}}
          <option value="{{item.cg_id}}">{{item.cg_name}}</option>
          {{/if}}
          {{/each}}

          </select>

  </script>

<script>


  var data = {
    "code": 200,
    "msg": "OK",
    result: {
      "cs_id": 1,
      "cs_cg_id": 5,
      "cs_tc_id": 2,
      "cs_name": "HTML5",
      "tc_name": "李清照",
      "cs_brief": "<p>最精彩的网页布局教程</p>\n",
      "cs_tags": "HTML",
      "cs_cover": "http://static.botue.com/images/cover/half.jpg?x-oss-     process=image/crop,x_100,y_50,w_500,h_250",
      "cs_cg_pid": 1,
      teacher: [
        {
          "tc_id": 2,
          "tc_name": "李清照"
        },
        {
          "tc_id": 8,
          "tc_name": "前端学院"
        },
        {
          "tc_id": 9,
          "tc_name": "令狐冲"
        }
      ],
      category: {
        top: [
          {
            "cg_id": 1,
            "cg_name": "前端开发"
          },
          {
            "cg_id": 2,
            "cg_name": "后端开发"
          },
          {
            "cg_id": 3,
            "cg_name": "数据库"
          }
        ],
        childs: [
          {
            "cg_id": 5,
            "cg_pid": 1,
            "cg_name": "HTML/CSS"
          },
          {
            "cg_id": 6,
            "cg_pid": 1,
            "cg_name": "Javascript"
          },
          {
            "cg_id": 7,
            "cg_pid": 1,
            "cg_name": "Mobile"
          }
        ]
      }
    },
    time: 1483321817
  }
  var html = template('tpl', data.result);
  document.getElementById('content').innerHTML = html;


  var tpl = `{{each list}}
  <option value="{{$value.tc_id}}">{{$value.tc_name}}</option>
          {{/each}}`;
  //指定render渲染函数,传入模板字符串
  var render = template.compile(tpl);
  //执行调用render渲染函数传入数据
  var result = render({ list: data.result.teacher });

  document.getElementById('box').innerHTML = result;
</script>

</html>