<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>


  <script>

    // 构造函数
    function Point(x, y) {
      this.x = x;
      this.y = y;
    }

    Point.prototype.toString = function () {
      return '(' + this.x + ', ' + this.y + ')';
    };

    var p = new Point(1, 2);
   // es6定义类
    class Point1{
      constructor(x,y){
        this.x = x;
        this.y =y;
      }
      toString(){
        return '(' + this.x + ', ' + this.y + ')';
      }
    }

    var m = new Point1(2,3);
  </script>
</body>

</html>