<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <main>
        <article>The list properties describe basic visual formatting of lists:
          they allow style sheets to specify the marker type (image, glyph,
          or number), and the marker position with respect to the principal
          box (outside it or within it before content). 
        </article>
        <aside>aside</aside>
      </main>
      
      <style>
        main {
          font-size: 14px;
          position: relative;
        }
        article {
          background: coral;
          margin-left: 10em;
        }
        aside {
          width: 10em;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background: lightblue;
        }
      </style>
</body>
</html>