<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="http://p5.ssl.qhimg.com/t013753a42172e3170a.jpg"
          alt="car" width="200">
      </div>
      
      <style>
        .container {
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          width: 400px;
          height: 400px;
          background: lightblue;
        }
      </style>
 
      
      
      
</body>
</html>