<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      .backtop {
        position: fixed;
        bottom: 5em;
        right: 1em;
        cursor: pointer;
      }

      .backtop img {
        width: 50px;
        height: 50px;
      }

      #content {
        width: 1210px;
        margin: 100px auto;
        line-height: 34px;
        color: red;
        text-align: center;
        font-size: 22px;
      }
    </style>
  </head>

  <body style="height:2000px;">
    <div id="content">
      ------------开始------------
      <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金... <br />
      风吹马尾千条线,雨打龙鳞万点金...
      <br />
    </div>
    <div class="backtop" onclick="backtotop();" style="display: none;">
      <img src="../../assets/components/scrollup.png" alt="" />
    </div>
    <script src="../../bulid/tools/index.js"></script>
    <script src="../../bulid/tools/bom.js"></script>
    <script>
      function backtotop() {
        var target = 0;
        var leader = 0;
        var timer = null;
        var backtop = document.querySelector(".backtop");

        if (bom.getScrollTop() > 500) {
          setStyle(backtop, {
            display: "block",
            opacity: "1",
            transition: "opacity 0.7s"
          });
        } else {
          setStyle(backtop, {
            opacity: "0",
            transition: "opacity 0.7s"
          });
        }
        leader = bom.getScrollTop();
        console.log(leader);

        backtop.onclick = function() {
          clearInterval(timer);
          timer = setInterval(function() {
            //获取步长;
            var step = (target - leader) / 10;
            //二次处理
            step = step > 0 ? Math.ceil(step) : Math.floor(step);
            //赋值;
            leader = leader + step;
            window.scrollTo(0, leader);
            //清除定时器;
            if (leader === target) {
              clearInterval(timer);
            }
          }, 30);
        };
      }

      addEvent(window, "scroll", throttle(backtotop, "500"));
      // window.onscroll = backtotop;
    </script>
  </body>
</html>
