<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AngularJS • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	</head>
	<body ng-app="myApp" ng-controller="demoCtrl">
		<section id="todoapp">
			<header id="header">
				<h1>todos</h1>
				<form id="todo-form" ng-submit="submitTask()">
					<input id="new-todo" placeholder="What needs to be done?" autofocus ng-model="task">
				</form>
			</header>
			<section id="main">
				<input type="checkbox" id="toggle-all" ng-click="changeStatus()" ng-model="status">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list">
					<li ng-repeat="item in taskList | filter:{isCompleted : condition }" ng-class="{'completed':item.isCompleted,'editing':item.isEdit}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="item.isCompleted" ng-change="changeLight()">
							<label ng-dblclick="modifyData(item.id)">{{ item.name }}</label>
							<button class="destroy" ng-click="deleteTask(item.id)"></button>
						</div>
						<form>
							<input class="edit" ng-model="item.name" ng-blur="blurFn()">
						</form>
					</li>
				</ul>
			</section>
			<footer id="footer">
				<span id="todo-count">
					<strong> {{ calcNumber() }} </strong>&nbsp;items left
				</span>
				<ul id="filters">
					<li>
						<a ng-click="filterTask('All')" href="javascript:;">All</a>
					</li>
					<li>
						<a ng-click="filterTask('Active')" href="javascript:;">Active</a>
					</li>
					<li>
						<a ng-click="filterTask('Completed')" href="javascript:;">Completed</a>
					</li>
				</ul>
				<button id="clear-completed" ng-click="clearData()">Clear completed</button>
			</footer>
		</section>
		<script src="node_modules/angular/angular.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
<script>
	/*
		1.引包angular.js
		2.创建app.js并引入到页面中
		3.在app.js中创建模块
		4.告诉angular当前页面要用我创建的myApp模块去管理
		5.创建控制器
		6.告诉angular控制器要控制的区域
		7.我要向页面中展示数据 所以我要依赖$scope

		8.获取数据并展示到页面中
		9.添加任务
		10.删除任务(单个)
		11.更改任务状态
		12.增加筛选
		13.计算未完成任务的数量
		14.清空已完成任务
		15.批量更改任务状态
		16.修改任务名称

	 */
</script>
