<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../bulid/css/layout.css">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    .base {
      width: 500px;
      margin: 200px auto;
      border: 1px dashed #ccc;
      padding: 1em 2em;
    }

    .header {
      height: 3em;
    }

    .border {
      border-bottom: 1px solid #999;
    }
  </style>
</head>

<body>



  <div class="base">
    <div class="box box-pc box-ac header border">交易详情</div>

    <div class="box box-pc box-pj ">
      <div>出账金额</div>
      <div>-123.00</div>
    </div>
    <div class="box box-pc box-pj ">
      <div>类型</div>
      <span>授信</span>
    </div>
    <div class="box box-pc box-pj ">
      <div>时间</div>
      <span>2018-01-08 10:07:03</span>
    </div>
    <div class="box box-pc box-pj ">
      <div>交易单号</div>
      <span>13520780022</span>
    </div>
    <div class="box box-pc box-pj ">
      <div>可用余额</div>
      <span>0.00</span>
    </div>
    <div class="box box-pc box-pj ">
      <div>审核状态</div>
      <span>未审核</span>
    </div>
    <div class="box box-pc box-pj ">
      <div>所属分公司</div>
      <span>上海中油同盛石油有限公司</span>
    </div>
  </div>

</body>

</html>