<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>浏览器</th>
        <th>JavaScript 引擎</th>
        <th>CSS 引擎</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Chrome</th>
        <td>V8</td>
        <td>Blink</td>
      </tr>
      <tr>
        <th>Firefox</th>
        <td>SpiderMonkey</td>
        <td>Gecko</td>
      </tr>
      <tr>
        <th>Edge</th>
        <td>ChakraCore</td>
        <td>EdgeHTML</td>
      </tr>
    </tbody>
  </table>
  
  <style>
    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      font-size: 14px;
    }
    th, td {
      border: 1px solid #666;
      padding: 1em;
    }
    tr > th {
      width: 8em;
    }
  </style>
</body>
</html>