/* 双伪元素清浮动 */
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* 文本溢出 */
p {
  width: 200px;
  font-size: 20px;
  height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* 多行 */
/*跨浏览器兼容,设置相对定位的容器高度,用包含省略号的(...)的元素模拟实现*/
p {
position: relative;
line-height: 1.4em;
height: 4.2em;
width: 201px;
overflow: hidden;
}
p::after {
content:"...";
font-weight:bold;
position:absolute;
bottom:0;
right:0;
padding:0 20px 1px 45px;
background:url(http://newimg88.b0.upaiyun.com/newimg88/2014/09/ellipsis_bg.png) repeat-y;
}

.text {
    position: relative;
    height: 3.6em; /*准确三倍*/
}
.text:after {
    content: '';
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width:20%;
    height:1.2em;
    background: linear-gradient(
        to right,
        rgba(255,255,255,0),
        rgba(255,255,255,1)80%
    )
}

/*
height高度正好是line-height的3倍；
结束的省略好用了半透明的png做了减淡的效果，或者设置背景颜色；
IE6-7不显示content内容，所以要兼容IE6-7可以是在内容中加入一个标签，比如用<span class="line-clamp">...</span>去模拟；
要支持IE8，需要将::after替换成:after；

 */


/* 隐藏元素 display&visibility */
  /* display：none; // 从标准文档流中移除，不占有原本的位置
  visibility:hidden; //完全相反，隐藏后保留其原本的位置 */



 /* 改变 placeholder 的字体颜色大小   pc 端可以，真机上不行 */
input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size:14px;
    color: #333;
}
input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size:14px;
    color: #333;
}
input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size:14px;
    color: #333;
}


/* 全屏背景 */

*{margin:0;padding:0;}
html{
background:url("img/1.jpg") no-repeat center center;
background-size:cover;
min-height:100%;
}