<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/public/css/index.css">
</head>

<body>
  <h1>请求类型</h1>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>

  <script>
    $(function () {
      $.ajax({
        url: '/info',
        type: 'get',
        success: function (result) {
          console.log(result);
        },
        error: function (err) {
          console.log(err);
        }
      });
    });
  </script>
</body>

</html>