<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/reset.css' />
  </head>
  <body>
    <img src="/assets/img/logo.png" alt="logo">
    <p>Welcome to <%= title %></p>
  </body>
</html>
