.ub
{
	display: -webkit-box !important;
	display: box !important;
	position:relative;
}

.ub-rev
{
	-webkit-box-direction:reverse;
	box-direction:reverse;
}

.ub-fh
{
	width:100%;
}

.ub-fv
{
	height:100%;
}

.ub-con
{
	position:absolute;
	width:100%;
	height:100%;
}

.ub-ac
{
	-webkit-box-align:center;
	box-align:center;
}
.ub-ae
{
	-webkit-box-align:end;
	box-align:end;
}

.ub-pc
{
	-webkit-box-pack:center;
	box-pack:center;
}
.ub-pe
{
	-webkit-box-pack:end;
	box-pack:end;
}
.ub-pj
{
	-webkit-box-pack:justify;
	box-pack:justify;
}

.ub-ver
{
	-webkit-box-orient:vertical;
	box-orient:vertical;
}

.ub-f1
{
	position:relative;
	-webkit-box-flex: 1; 
	box-flex: 1;
}

.ub-f2
{
	position:relative;
	-webkit-box-flex: 2;
	box-flex: 2; 
}

.ub-f3
{
	position:relative;
	-webkit-box-flex: 3;
	box-flex: 3;
}

.ub-f4
{
	position:relative;
	-webkit-box-flex: 4;
	box-flex: 4;
}

.ub-img
{
	-webkit-background-size:contain;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

.ub-img1
{	
	-webkit-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}
.ub-img2
{
	background-repeat:repeat-x;
	background-size:auto 100%
}
.ub-img3
{
	background-repeat:repeat-y;
	background-size:100% auto
}

.ub-img4
{
	-webkit-background-size:100% auto;
	background-size:100% auto;
	background-repeat:no-repeat;
	background-position:center;
}
.ub-img5
{
	-webkit-background-size:auto 100%;
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.ub-img6
{
	background-repeat:no-repeat;
	background-position:center;
}
.ub-img7
{
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:center;
}



/*****************************************/
/*****************************************/
/*****************************************/

/*added by XSX at 2015/12/14*/
.m-check {
  height: 1.2em;
  width: 1.2em;
  border-radius: 1.2em;
  border: 0.1em solid #cccccc;
}
.m-check-active {
  background-color: #ffa03c;
  border-color: #ffa03c;
  background-image: url("../imgs/icon_ok.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em 1em;
}
/*switch**/
.m-switch {
  display: inline-block !important;
  font-size: 0.8em;
  color: #888888;
}

.m-switch .focus {
  padding: 0.66em 0.76em;
  background-color: #ffa03c;
  color: #ffffff;
}
.m-switch .nofocus {
  padding: 0.5em 0.6em;
  border: 0.16em solid #ffa03c;
}

.m-input,
.m-textarea {
  border-radius: 0.2em;
  border: 1px solid #cccccc;
  box-shadow: inset 0.1em 0.1em 0.3em #cccccc;
  padding: 0.375em;
  font-size: 1em;
}
.m-input {
  text-align: right;
}
.m-textarea {
  width: 90%;
  height: 3em;
}
.m-border1 {
  padding: 0 0.5em;
  border-radius: 0.2em;
  border: 0.1em solid #2931a1;
  font-size: 0.8em;
  color: #2931a1;
}

.mp-btn {
  border-radius: 0.3em;
  background: -webkit-linear-gradient(#5082c1, #2a329d);
  background: linear-gradient(#5082c1, #2a329d);
}
.mp-btn2 {
  border-radius: 0.3em;
  background: -webkit-linear-gradient(#ffaa43, #ff9535);
  background: linear-gradient(#ffaa43, #ff9535);
}
/*my primary button style*/
.mp-border {
  border: 1px solid #2931a1;
}

.gray-btn {
  border-radius: 0.3em;
  background: -webkit-linear-gradient(#fff, #ddd);
  background: linear-gradient(#fff, #ddd);
}
.btn-wrapper1 {
  margin-top: 2em;
}
.btn-style1 {
  border-radius: 0.2em !important;
  background: #2931a1;
  height: 2.5em;
}
.m-act2 {
  display: inline-block;
  padding: 0.4em 0.8em;
  background: #ffa03c;
  color: #ffffff;
  border-radius: 0.3em;
}

.rank {
  display: inline-block;
  padding: 0.4em 1em;
  border-radius: 1.2em;
  background: #ffa03c;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
}

.block-label {
  font-size: 0.8em;
  padding: 0.2em;
  border-radius: 0.2em;
  color: #fff;
}

.gap {
  height: 0.8em;
  background: #f7f7f7;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.top-gap {
  height: 0.6em;
  background: #f4f4f4;
  border-bottom: 1px solid #cccccc;
}

.nav-style2 {
  background: #fff !important;
  color: #333 !important;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.nav-right {
  min-width: 2.5em !important;
}
.nav-txt-right {
  min-width: 3.25em !important;
  font-size: 0.9em;
  color: #ffa03c;
}
.sec-btn1 {
  width: 3em;
  height: 3em;
  color: #ffffff !important;
  background: #2931a1;
}

.myicon {
  display: block;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: 1.6em 1.6em;
  background-position: center;
}

.tip-tag {
  position: relative;
  margin-left: 2em;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border-radius: 1.4em;
  font-size: 0.6em;
  background: #ea595c;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}
/**底部条样式***/
.tab-foot {
  position: fixed;
  bottom: 0;
  height: 3em;
  background-color: #f4f4f4;
}
.uw-a {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  width: 100%;
}

/*****************************************/
/*****************************************/
/*****************************************/
/*xiaoyueyue*/

.mySelect {
    background-color: #fff;
    width: 6.625em;
    box-sizing: border-box;
    height: 1.5em;;
    border: 0;
    border: 1px solid #999;
    border-radius: 0.2em;
        /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #000;
    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    
    -webkit-appearance: none;
    /*在选择框的最右侧中间显示小箭头图片*/
    /* background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;   */
    background: url("../../build/imgs/arrow.png") no-repeat scroll right center transparent;
    background-size: 0.6em 0.4em;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 0.8em;
    padding-left: 0.2em;
}


