/*****************************************/
/*基础header颜色*/
.bc-head {
    /*background-color: #db4c4d;*/
    background-color: #3a44b3;
    
}
/*****************************************/
/*基础body背景颜色*/
.bc-bg {
   /* background-color: #f8faf8;*/
  background-color:#f4f4f4;
    
}
/*辅助控件背景颜色*/
.sc-bg {
    background-color: #ffffff;
}
/*辅助控件背景颜色*/
.sc-bg-active {
    background-color: #f7f7f7;
}
/*警告背景色*/
.sc-bg-alert {
    background-color: #F16412;
}
.danger-bg {
    background-color: #d9534f;
}
/*****************************************/
/*基础字体颜色*/
.bc-text {
    color: black;
}
/*基础标题字体颜色*/
.bc-text-head {
    color: white;
}
/*辅助字体颜色*/
.sc-text {
    color: #848484;
}
/*辅助字体颜色*/
.sc-text-active {
   
    color:#fff;
}
/*辅助字体颜色*/
.sc-text-hint {
    color: #E3E3E3;
}
/*辅助字体颜色*/
.sc-text-warn {
    color: #FC7800;
}
/*辅助字体颜色*/
.sc-text-tab {
    color: #ffffff;
}
/*****************************************/
/*基础边框颜色*/
.bc-border {
    border-color: #cccccc;
}
/*辅助边框颜色*/
.sc-border {
    border-color: #FFFFFF;
}
.sc-border-tab {
  /* border-color: #cccccc;*/
}
/*****************************************/
/*基础按钮颜色*/
.bc-btn {
    background-color: #DD3030;
    background-color: #2e37a0;
}
/*辅助按钮颜色*/
.sc-btn {
    background-color: #F7CB8C;
}
/*导航栏背景颜色*/
.nav-bg{
    background-color: #241a19;
}

/*****************************************/
/*****************************************/
/*****************************************/
/*added by XSX at 2015/12/14*/
.mf-color{
    color: #2931a1;
}
.mf-color2{
    color: #666666;
}
.mb-color{
    background: #d7393a;
}

.white-bg{
    background-color: #ffffff !important;
}
.gray-bg{
    background-color: #b5b8bc !important;
}
.gray-bg2{
    background-color: #f6f6f6 !important;
}
.green-bg{
    background-color: #82d02c !important;
}
.y-bg{
    /*background-color: #ffa03c !important;*/
    background-color: #6bcbe1 !important;;
};
}
.r-bg{
    background-color: #d7393a !important;
}

.white-font{
    color: #ffffff !important;
}
.gray-font{
    color:#999999;
}
.y-font{
    color:#ffa03c;
}
.treeview .sc-bg-active{
    background: #ffffff;
}

/*****************************************/
/*****************************************/
/*****************************************/
/*xiaoyueyue*/






