.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* -----------------------------------------12栅格-------------------------- */

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
  float: left;
}
.w-12 {
  width: 100%;
}

.w-11 {
  width: 91.66666667%;
}

.w-10 {
  width: 83.33333333%;
}

.w-9 {
  width: 75%;
}

.w-8 {
  width: 66.66666667%;
}

.w-7 {
  width: 58.33333333%;
}

.w-6 {
  width: 50%;
}

.w-5 {
  width: 41.66666667%;
}

.w-4 {
  width: 33.33333333%;
}

.w-3 {
  width: 25%;
}

.w-2 {
  width: 16.66666667%;
}

.w-1 {
  width: 8.33333333%;
}
.ml-1 {
  margin-left: 8.33333%;
}

.ml-2 {
  margin-left: 16.66667%;
}

.ml-3 {
  margin-left: 25%;
}

.ml-4 {
  margin-left: 33.33333%;
}

.ml-5 {
  margin-left: 41.66667%;
}

.ml-6 {
  margin-left: 50%;
}

.ml-7 {
  margin-left: 58.33333%;
}

.ml-8 {
  margin-left: 66.66667%;
}

.ml-9 {
  margin-left: 75%;
}

.ml-10 {
  margin-left: 83.33333%;
}

.ml-11 {
  margin-left: 91.66667%;
}

.ml-12 {
  margin-left: 100%;
}
.l-1,
.l-2,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
  position: relative;
  min-height: 1px;
}
.r-1,
.r-2,
.r-3,
.r-4,
.r-5,
.r-6,
.r-7,
.r-8,
.r-9,
.r-10,
.r-11,
.r-12 {
  position: relative;
  min-height: 1px;
}
.l-0 {
  left: auto;
}

.l-1 {
  left: 8.33333%;
}

.l-2 {
  left: 16.66667%;
}

.l-3 {
  left: 25%;
}

.l-4 {
  left: 33.33333%;
}

.l-5 {
  left: 41.66667%;
}

.l-6 {
  left: 50%;
}

.l-7 {
  left: 58.33333%;
}

.l-8 {
  left: 66.66667%;
}

.l-9 {
  left: 75%;
}

.l-10 {
  left: 83.33333%;
}

.l-11 {
  left: 91.66667%;
}

.l-12 {
  left: 100%;
}
.r-1 {
  right: 8.33333%;
}

.r-2 {
  right: 16.66667%;
}

.r-3 {
  right: 25%;
}

.r-4 {
  right: 33.33333%;
}

.r-5 {
  right: 41.66667%;
}

.r-6 {
  right: 50%;
}

.r-7 {
  right: 58.33333%;
}

.r-8 {
  right: 66.66667%;
}

.r-9 {
  right: 75%;
}

.r-10 {
  right: 83.33333%;
}

.r-11 {
  right: 91.66667%;
}

.r-12 {
  right: 100%;
}
