/* ------- This is the CSS Reset ------- */
/* 参考 - https://github.com/jasonkarns/css-reset */
/* 参考 - https://github.com/richclark/HTML5resetCSS */

/*  Box Sizing */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset `padding` and `margin` of all elements */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* ------- HTML5 display-role reset for older browsers ------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
svg,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
}
/* 禁止选中文本（如无文本选中需求，此为必选项） */
html,
body {
  -webkit-user-select: none;
  user-select: none;
}
body {
  line-height: 1;
}
/* 表单元素 */
button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  background-color: transparent;
  border-style: none;
  outline: 0;
  vertical-align: middle;
}
nav,
ol,
ul,
ul {
  list-style: none;
}

/* 常用行内元素 */
strong {
  font-weight: normal;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
}

/* 重置的自定义个别样式，优化基本展示*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
textarea,
select,
button {
  border: 1px solid gray;
}
button {
  padding: 0.75em 1em;
  line-height: inherit;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}
