<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hero - Admin</title>
    <link
      href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css"
      rel="stylesheet"
    />
    <style>
      .hero-list img {
        width: 50px;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="page-header container">
        <h1>亡者农药 <small>英雄管理器</small></h1>
      </div>
    </header>
    <div class="container hero-list">
      <form id="form1">
        <input type="hidden" name="id" value="{{ id }}" />
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label"
            >英雄名称</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              name="name"
              class="form-control"
              id="inputEmail3"
              placeholder="Email"
              value="{{ name }}"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label"
            >性别</label
          >
          <div class="col-sm-10">
            <label class="radio-inline">
              <input
                type="radio"
                name="gender"
                id="inlineRadio1"
                value="男 {{ gender == '男' ? 'checked' : '' }}"
              />
              男
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                name="gender"
                id="inlineRadio2"
                value="女  {{ gender == '女' ? 'checked' : '' }}"
              />
              女
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label"
            >头像</label
          >
          <div class="col-sm-10">
            <!--注意：我们把 英雄原来的头像 URL 地址，保存到了一个隐藏域中，name为 avatar-->
            <input type="hidden" name="avatar" value="{{ avatar }}" />
            <!--注意：由于 file 控件并没有 name 属性，所以通过普通 form 表单提交到服务器-->
            <input type="file" id="fileAvatar" />
            <img src="{{ avatar }}" alt="" id="preview_img" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">保存修改</button>
          </div>
        </div>
      </form>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>

    <script>
      $(function() {
        $('#fileAvatar').on('change', function(e) {
          if (e.target.files.length !== 1) {
            return;
          }

          // 读取文件
          var freader = new FileReader();
          freader.readAsDataURL(e.target.files[0]);
          freader.onload = function(e) {
            // 最终读取到的图片，格式是 base64 编码的字符串，可以直接交给图片去显示
            var result = e.target.result;

            $('#preview_img').attr('src', result);
          };
        });
        $('#form1').on('submit', function(e) {
          //阻止  表单默认提交事件
          e.preventDefault();

          var form = new FormData(document.querySelector('#form1'));

          //get方法获取到表单指定数据
          // console.log('删之前：' + form.get('avatar'));
          // form.delete('avatar');
          // console.log('删之后：' + form.get('avatar'));

          if (document.querySelector('#fileAvatar').files.length !== 0) {
            // 先把 avatar 从表单中删除，此时，avatar中的数据是 URL 字符串
            form.delete('avatar');
            // 再重新向表单中添加一个 avatar属性，此时，avatar中的数据是一个真正的图片文件
            form.append(
              'avatar',
              document.querySelector('#fileAvatar').files[0]
            );
          }

          $.ajax({
            url: '/uploadEditData',
            data: form,
            type: 'post',
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function(result) {
              console.log(result);
              if (result.err_code === 0) {
                // 表示没有出错
                window.location.href = '/';
              }
            }
          });
        });
      });
    </script>
  </body>
</html>
