<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <article>
        <h1>Colors and Backgrounds</h1>
        <p class="center"><span>行内元素,给其父元素设置text-align:center,即可实现行内元素水平居中.</span></p>
        <p>CSS properties allow authors to specify the foreground
          color and background of an element. Backgrounds may be
          colors or images. Background properties allow authors to
          position a background image, repeat it, and declare
          whether it should be fixed with respect to the viewport
          or scrolled along with the document.</p>
      </article>
      
      <style>
        article {
          margin-left: auto;
          margin-right: auto;
          padding: 1em;
          background: lightblue;
          line-height: 1.8;
          max-width: 40em;
        }
        h1 {
          background: coral;
          text-align: center;
        }
        .center {
          text-align: center
        }
      </style>
</body>
</html>